/* ! Recursos Responsividade*/
/* * Telas Muito Pequenas*/
@media(max-width:576px){
    .btn-custom{
        margin:10px 15px;
    }
    .alinhamento{
        height:10px;
        margin-top:1%;
    }
    #corpo_conteudos i{
        display:none;
    }

    img.profile,hr.profile{
        display: none;
    }
    #cadastro{
        position:relative;
        top:3%;
        box-shadow:none !important;
        width:100%;
        height:90%;
        margin-top:20px;
        border-radius:0% !important;
        border:none !important;
    }
    #login{
        box-shadow:none !important;
        width:100%;
        height:90%;
        margin-top:20px;
        border-radius:0% !important;
        border:none !important;
    }

    .disquete{
        margin:5px;
    }

    .disquete h3{
        font-size:1.5em;
    }

    .text-sm-center{
        text-align: center !important;
    }

    .float-sm-left {
        float: left !important;
      }
      .float-sm-right {
        float: right !important;
      }

}

/** Telas Pequenas*/
@media (min-width:576px) and (max-width:767.98px){
    h1{
        font-size:3.2em;
    }

    .btn-custom{
        margin:10px 15px;
    }
    #corpo_conteudos i{
        display:none;
    }

    #materiais_lista img{
        width:70%;
    }

    #materiais_lista .col-sm-12{
        margin:5px 0px;
    }
   img.profile,hr.profile{
        display: none;
    }
    .disquete h3{
        font-size:1.3em;
    }

    .disquete p{
        font-size:1.3em;
    }
}

/** Telas Medias */
@media (min-width:768px) and (max-width:991.98px){
    h1{
        font-size: 4em;
    }

    .btn-custom{
        margin:20px 15px;
    }
    #materiais_lista img{
        width:100%;
        height: 100%;
    }

    img.profile,hr.profile{
        display: none;
    }
    .disquete h3{
        font-size:1.5em;
    }

    .disquete p{
        font-size:1.5em;
    }
}


/** Telas Grandes*/
@media (min-width:992px) and (max-width:1199.98px){
    h1{
        font-size: 5em;
    }

    #materiais_lista img{
        width:90%;
    }
}

@media (min-width:1200px){
    h1{
        font-size:5.5em;
    }

    #materiais_lista img{
        width:100%;
    }
}

/*Fim Responsividade*/

html,body{
    width: 100% !important;
}

body {
    font-family: Helvetica,Arial, sans-serif
}

/*Capa
----------------------------------------*/
.capa{
    text-align:center;
}

.btn-custom{
color:white;
border-radius:500px;
-webkit-border-radius:500px;
-moz-border-radius:500px;
text-transform:uppercase;
transition:background 0.4s, color 0.4s;
padding:10px 20px;
}

.btn-roxo{
    background: #1ca1b3;
}
.btn-roxo:hover{
    color:white;
    background:#2cc7dc;
}
.btn-branco{
    border:2px outset white;
}

.btn-branco:hover{
    background-color: white;
    color:black;
}

header a.nav-link:hover{
transition:all 0.4s;
}

/*Estruruta Content
----------------------------------------*/
.albuns{
    padding:10px 0px;
}
.row-rotate{
    transform:rotate(16deg);
    -ms-transform:rotate(16deg);
    -webkit-transform:rotate(16deg);
    padding-left:80px;
}

#corpo_principal{
    background:linear-gradient(to bottom, #75cff8 ,#0090e4);
}
/*Rodapé
----------------------------------------*/
footer{
    background: #000;
    padding-top:50px;
    padding-bottom:20px;
}
footer, #servicos, body{
    width:100%;
}
footer h4{
    color:#919496;
    font-size:0.8em;
    text-transform: uppercase;
}
footer .navbar-nav a{
    color:white;
    text-transform:capitalize;
    font-size:0.8em;
    transition:all 0.5s;
}
footer .navbar-nav a:hover{
    color:#9bf0e1;
    font-size:0.9em;
    text-transform:capitalize;
    text-decoration: none;
    transition:all 0.5s;
}
footer ul{
    list-style: none;
}
/*Tipografia
----------------------------------------*/
header a.nav-link{
    position:relative;
    top:25%;
    color: black !important;
    transition: all 1.5s;
}
header a.nav-link:hover{
    color:white !important;
    transition:all 0.2s;
}

h1{
    font-weight: 700;
    letter-spacing:-0.05em;
    margin-bottom:50px;
}
h2{
    font-size:3em;
    font-weight:  500;
    letter-spacing:-0.04em;
}
h3{
    font-size:2em;
    font-weight: 700;
    letter-spacing: -0.04em;
}

#servicos h3, #servicos h2{
    color:rgba(77, 3, 77, 0.661);
}

#recursos h3 
{
    color:#9bf0e1;
}

h4{
    font-weight: bold;
}

#recursos h2{
    color:white;
}

#recursos{
    color:white;
}
/*Fontes*/
#corpo_conteudos{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/*Icones*/
.note{
    display: flex;
    color:#638968a7;
    padding-top:20px;
    justify-content: center;
    align-self: center;
}
.carousel-control-next,.carousel-control-prev{
    width:5%;
}


/*--------------------------------------------------------------------------------*/

a{
    text-decoration: none !important;
}
footer a{
    margin: 5px 15px;
    text-decoration: dotted;
}
.insta{
  background:lightgreen;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.yt{
    color:blue;

}
footer .social a{
    font-size: 27px;
}
.desc{
    position:relative; left:50%;top:5%;color:rgb(77, 207, 164);
}
/*---------------------------------------------*/
/*Posicionamento e Tamanho de Elementos*/
.alinhamento{
    height:300px;
    padding:20px;
    margin-top:1%;;
}
.carousel{
    width:100%;
    overflow-x:hidden;
}
#home{
    height:100%;
}
/*Cadastro*/
#login,#cadastro{
    background: white;
    padding: 2%;
    border-radius:5%;
    border:2px outset rgb(138, 138, 138);
    border-style: ridge;
    max-width:500px;
}
form input[type='text'],
form input[type='email'],
form input[type='password']{
    width:100%
}
.btn-auth{
    position: relative;
    left:50%;
    transform: translate(-50%);
    width:40%;
}
.grupo_form{
    margin:2px 10%;
}
#cadastro h2,#login h2{
    text-align: center;
}
/*Página Materiais*/
#materiais_lista{
    background-color: white;
}

.card-borda{
    -webkit-box-shadow: 9px 11px 14px -1px rgba(0,0,0,0.46);
    -moz-box-shadow: 9px 11px 14px -1px rgba(0,0,0,0.46);
    box-shadow: 9px 11px 14px -1px rgba(0,0,0,0.46);

    border:2px double rgb(73, 73, 73);

    transform:scale(1,1);
    transition: 1s all;
}

.divisa{
    border-top:2px double rgb(54, 54, 54);
}

.card_titulo{
    border-bottom:2px outset black;
    padding:0.4em;
}

.sombra{
    text-shadow: #000 3px 2px 10px;
}
/* Estilo Personalizado Botões*/
.sql{
    color: #fa6a36;
    background-color: transparent;
    background-image: none;
    border-color: #fa6a36;
}

.btn-outline-black{
    color: #000;
    background-color: transparent;
    background-image: none;
    border-color: #000;
}


.btn-outline-black:hover{
    color: #fff;
    background-color: #000;
    border-color: #000;
}

.text-black{
    color:#000;
}

.py{
    background: linear-gradient(to right,#74d6f9,#f3f940);
    background-clip: text;
    color:rgb(0 0 0 / 10%);
    border-color:#00A0D3 #EDD046 #EDD046 #00A0D3;
}

.py:hover{
    background: linear-gradient(90deg,#00A0D9,#EDD046);
    color:#000;
    transition: all 0.2s;
}
/*-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-==-=-=-=-=*/
#materiais_lista h1{
    text-shadow:4px 2px 4px #272020;
}

#materiais_lista div.row .col-md-4{
    margin:5px 0px;
}

#suporte{
    height:700px; 
    background:linear-gradient(to bottom, #75cff8 ,#0090e4);
}

div.profile{
    font-size: 0.91em;
    border:3px inset black;
}

img.profile{
    height: 110px;
    width: 100%;  
    border:3px inset black;
}

.texto code{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight:normal;
}

.texto code,.codigo{
    background: lightgray;
    color:rgb(42, 42, 178);
    margin:2px;
    padding:2px;
}

.texto pre{
    font-size:0.9em;
}
/*#conteudos *{
    border:1px solid red;
}*/

#wiki{
    margin:10px;
}

#wiki .suporte_video{
    border-radius: 5%;
    border: 5px inset black;
    height:250px;
    width:370px;
}

#wiki #conteudos .texto{
    border:black 3px solid;
}

.team-member {
    text-align: center;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow effect */
}

.team-member img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.introducao{
    box-shadow:1px 4px 10px #000;
    border-radius:10px;
}
/* ! Navegação */

nav.navbar-transparente{
    padding:10px 0px;
}
.navbar-light .navbar-nav .nav-link{
    color:lightgray;
}
.navbar-light .navbar-nav .nav-link:hover{
    color:rgb(213, 202, 255);
}
.navbar-light .navbar-toggler{
    color: rgba(255,255,255,.5);
    border-color:rgba(255,255,255,.3)
}
.divide{
    margin:20px 0px;
    width:1px;
    background:white
}
.navega{
    background: linear-gradient(to bottom,#0090e4,#75cff8);
    color:black;
}

#nav-principal .navbar-nav .nav-item{
    margin-left:5px;
}

#usuario .img-thumbnail {
    border: 2px solid #007bff; /* Cor da borda da foto do usuário */
}

#usuario h1,#usuario  h2 {
    font-family: 'Roboto', sans-serif; /* Fonte para títulos */
}

#usuario p {
    font-size: 18px; /* Tamanho da fonte do texto principal */
}

#usuario .list-group-item {
    background-color: #fff; /* Cor de fundo dos itens da lista */
    border-color: #007bff; /* Cor da borda dos itens da lista */
}

#usuario .list-group-item:hover {
    background-color: #007bff; /* Cor de fundo dos itens da lista ao passar o mouse */
    color: #fff; /* Cor do texto dos itens da lista ao passar o mouse */
}

#usuario .col-md-8 {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra */
    border: 1px solid #ddd; /* Borda */
    border-radius: 5px; /* Arredondamento dos cantos */
}

#usuario .col-md-8 h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 28px;
    line-height: 1.6;
    color: #333;
    margin-bottom: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px 20px;
}

#usuario .col-md-8 p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.8;
    color: #666;
    margin-bottom: 20px;
    text-align: left; 
    border-bottom:2px solid black;/* Alinhamento à esquerda */
}

#usuario .col-md-8 p i {
    font-size: 18px; /* Tamanho do ícone */
    margin-right: 5px; /* Espaço entre o ícone e o texto */
    color: #333; /* Cor do ícone */
}

#usuario .card{
    height:390px;
}

section.bg-sky{
    background:linear-gradient(to bottom, #75cff8 ,#0090e4);
    height: 100%;
    min-height: 600px;
}

.historico .icone{
    height:70px; 
    background-size:cover;
    background-repeat:no-repeat;
    background-position: center;
    width: 100%;
}
.historico hr{
    padding-top:0px;
    margin-top:0px;
}

.historico p{
    font-size:0.1em;
    height:40px;
}

.disquete{
    min-width: 170px;
}

.disquete p{
    font-size:1.4em;
}

.card-imagem{
    background-repeat:no-repeat !important; 
    background-size:cover !important;
    background-position:center !important;
    height:150px;
    width: 300px;
}

.sombra{
    box-shadow: #949494 1px 2px 10px;
}

.teste{
    justify-content: space-evenly !important;
}

.sombra .btn, .sombra .card-title, .sombra p, .sombra h2{
    text-shadow: none;
}

.sombra-dentro{
    box-shadow:inset #949494 1px 2px 10px;
}

.sombra-dentro .btn, .sombra-dentro .card-title, .sombra-dentro p, .sombra-dentro h2{
    text-shadow: none;
}

.scroll{
    max-height:500px; 
    overflow-y:scroll;
}
